<%- include('partials/header') %>

<body>
    <section class="app">
        <div class="top">
            <div class="box date ">
                <h1 class=""> <%= ListTitle %> </h1>
            </div>
            <div class="box menu">
                <i class='bx bx-menu'></i>
                <h1> Title </h1>
                <i class='bx bx-dots-vertical-rounded'></i> <!-- add logout here  -->
            </div>

            <div class="logout" id="log">
                <div class="logout-content">
                    <div class="log">
                        <p class="logout-text">
                            Logout
                        </p>
                        <a href="logout" class="logged-out">
                            <i class='bx bx-log-out'></i>
                        </a>
                        <i class='bx bx-x exit'></i>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="app-box">
            <%   NewTasks.forEach(function(NewTask) { %>
            <form action="/delete" method="post"  class="form-task">
                <div class="item">
                    <input type="checkbox" name=checkbox"" id="">
                    <p class="taks"> <%= NewTask.Task %> </p>                
                   <button type="submit" name="deleteIcon" class="del-btn" value="<%= NewTask.Task %>">
                    <i class='bx bx-trash bx-tada'></i>
                   </button> 
                     <input type="hidden" name="delCustomList" value="<%= ListTitle %>" />
                </div>
            </form>
            <%   }) %>

            <form action="/" method="post" class="item">
                <input type="text" name="newTask" placeholder="Add Task" autocomplete="off">
                <button type="submit" class="btn" name="add" value="<%= ListTitle %>">+</button>
            </form>
        </div>
    </section>

   

    <%- include('partials/footer') %>


</body>

</html>